.wrapper {
    width: 95%;
    background-color: whitesmoke;
    padding: 5px;
    margin: 0;
}
.nav {
    background-color: forestgreen;
    color: whitesmoke;
    text-align: center;
    padding: 10px 0;
}
.nav a{
    font-family: sans-serif;
    color: whitesmoke;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}
.banner img{width: 95%;
    margin: 10px auto;
    display: block;}
h1, h2, h3 {
    font-family: sans-serif;
    color: forestgreen;
    text-align: center;
}
label, p {
    font-family: sans-serif;
    color: forestgreen;
}
button {
    text-align: center;
    background-color: forestgreen;
    color: whitesmoke;
    font-family: sans-serif;
}
button a{
    text-decoration: none;
    color: whitesmoke;
}
.button {
    margin-left: 40%;
    margin-right: 40%;
    text-align: center;
    background-color: forestgreen;
    color: whitesmoke;
    font-family: sans-serif;
    text-decoration: none;
    display: block;
}
. button a{
    display: block;
    text-decoration: none;
    color: whitesmoke;
}
#checkLoan {
    text-align: center;
    background-color: forestgreen;
    color: whitesmoke;
    font-family: sans-serif;
    text-decoration: none;
}

.leftCol {float: left;
    width: 46%;
padding: 5px;
margin-left: auto;
margin-right: auto;}
.rightCol {float: right;
    width: 46%;
padding: 5px;
margin-left: auto;
margin-right: auto;}
.clear {clear: both;}
footer {background-color: forestgreen;}